:root {
  --color-special: #80b165;
  --background-color: #121212;
  --card-backcolor: #1e1e1e;
  --text-color: #c0c0c0;
  --sp-color: #1d5b3a;
  --bg-color: #f7f7f7;
  --card-bg: #e0e0e0;
  --t-color: #000;
  --bg-button: rgb(231, 199, 173);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.strong {
  color: var(--color-special);
  text-decoration: none;
}

.strong-light {
  color: var(--sp-color);
  text-decoration: none;
}

.body::-webkit-scrollbar, 
.body-light::-webkit-scrollbar {
  width: 12px;
}

.body::-webkit-scrollbar-track {
  background-color: var(--background-color);
}

.body-light::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}

.body::-webkit-scrollbar-thumb, 
.body-light::-webkit-scrollbar-thumb {
  background-color: var(--color-special);
  border-radius: 15px;
}

.body-light::-webkit-scrollbar-thumb {
  background-color: var(--sp-color);
}

.display {
  display: block;
  border-radius: 6px;
  background-color: var(--color-special);
  color: #fff;
  position: absolute;
  left: 10px;
  top: 30px;
  max-width: 80%;
  z-index: 999;
  box-sizing: border-box;
  overflow: hidden;
  padding: 10px;
}

.display p {
  font-size: 0.8rem;
}

.body, .body-light {
  border: none;
}

.invisible {
  display: none;
}

.view {
  border-radius: 6px;
  background-color: var(--color-special);
  color: #fff;
  position: absolute;
  left: 10px;
  top: 30px;
  max-width: 80%;
  z-index: 999;
  box-sizing: border-box;
  overflow: hidden;
  padding: 10px;
}

figure img {
  width: 100%;
  display: block;
  border-radius: 10px;
}

.text-color {
  color: var(--text-color);
}

.text-color-light {
  color: var(--t-color);
}

.btn-contact, 
.btn-contact-light {
  border: none;
  padding: 0.8rem 1.8rem;
  color: var(--t-color);
  background-color: var(--bg-color);
  border-radius: 1rem;
  margin: 3rem 1rem;
  cursor: pointer;
}

.btn-contact-light {
  background-color: var(--background-color);
  color: var(--text-color);
}

.btn-contact:hover {
  background-color: var(--card-bg);
}

.btn-contact-light:hover {
  background-color: var(--card-backcolor);
}

.signs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-signs {
  background-color: var(--card-backcolor);
  border: none;
  height: 80px;
  cursor: pointer;
}

.photo, .photo-light {
  display: grid;
  grid-template-columns: 3fr 1fr ;
  justify-content: start;
  gap: 5px;
}

.photo figure, .photo-light figure {
  padding: 25px  5px;
}
.photo .text-content, 
.photo-light .text-content-light {
  text-align: justify;
  padding: 10px;
}

.text-content .text-color, 
.text-content-light .text-color-light {
  text-align: justify;
}

.view p {
  font-size: 0.8rem;
}

.unview {
  display: none;
}

@font-face {
  font-family: "Comfortaa";
  src: url("./assets/fonts/Comfortaa-Regular.ttf") format("truetype");
}

.body {
  font-family: "Comfortaa", Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--background-color);
  color: var(--text-color);
}

.body-light {
  font-family: "Comfortaa", Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--bg-color);
  color: var(--t-color);
}

.header-light h1 {
  font-size: 20px;
}

.closed {
  background-color: var(--card-bg);
  width: 3.6rem;
  height: 1.5rem;
  border-radius: 0.8rem;
  display: flex;
  justify-content: start;
  align-items: center;
}

.open {
  background-color: var(--bg-button);
  width: 3.6rem;
  height: 1.5rem;
  border-radius: 0.8rem;
  display: flex;
  justify-content: end;
  align-items: center;
}

.button {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--color-special);
  cursor: pointer;
  border: none;
}

.footer-light {
  background-color: var(--card-bg);
  color: var(--t-color);
  text-align: center;
  padding: 20px;
  font-size: 12px;
}

.hidden-content, 
  .hidden-content-light {
    padding: 10px;
  }

  .hidden-content a, 
  .hidden-content-light a {
    margin-top: 10px;
    display: block;
  }

.footer {
  background-color: var(--card-backcolor);
  color: var(--text-color);
  text-align: center;
  padding: 20px;
  font-size: 12px;
}

.visible-light {
  color: var(--t-color);
}

.footer a {
  color: var(--color-special);
  text-decoration: none;
}
