:root {
  --color-special: #80B165;
  
  --temporal--bg:  #1e1e1e;
}

.body-light {
  font-family: "Comfortaa", Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--t-color);
  color: var(--text-color);
}

.header-light {
  background-color: var(--bg-color);
  color: var(--text-color);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--color-special) 1px solid;
}

.header-light h1 {
  font-size: 20px;
}

#about {
  background-color: var(--bg-color);
}

.closed {
 background-color: var(--card-bg);
 width: 3.6rem;
 height: 1.5rem;
 border-radius: .8rem;
 display: flex;
 justify-content: start;
 align-items: center;
}

.open {
 background-color: var(--card-bg);
 width: 3.6rem;
 height: 1.5rem;
 border-radius: .8rem;
 display: flex;
 justify-content: end;
 align-items: center;
}

.skill-light {
    background-color: var(--card-bg);
    color: var(--text-color);
    padding: 10px 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 20px;
    border-bottom: solid 2px var(--color-special);
    margin-top: 25px;
  }
  
  .skill-light p {
    font-size: 0.625rem;
}

.card-light {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--card-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--color-special);
  cursor: pointer;
}

.footer-light {
  background-color: var(--bg-color);
  color: var(--t-color);
  text-align: center;
  padding: 20px;
  font-size: 12px;
}