@media (min-width: 280px) and (max-width: 580px) {
  html,
  body {
    width: 100%;
    margin: 0;
    padding: 5px;
    overflow-x: hidden;
  }

  p {
    font-size: 14px;
    margin: 0 auto;
    padding: 5px;
    text-align: justify;
  }

  .text-color {
    color: var(--text-color);
  }
  
  .text-color-light {
    color: var(--t-color);
  }

  .text-content p, .text-content-light p {
    min-width: 60px;
    font-size: 12px;
  }

  .text-content, .text-content-light {
    max-width: 280px;
    background-color: #000;

  }

  .text-content-light {
    background-color: #fff;
  }

  .photo, .photo-light {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    background-color: #000;
  }

  .photo-light {
    background-color: #fff;
  }

  .photo figure, .photo-light figure {
   padding-top: 35px;
  }
  
  .photo-light figure {
    background-color: #fff;
  }

  .header, .header-light {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--color-special) 1px solid;
    max-width: 100%;
  }

  .header h1,  .header-light h1  {
    font-size: 20px;
  }

  .header-light {
    background-color: var(--bg-color);
    color: var(--t-color);
    border-bottom: var(--sp-color) 3px solid;
  }

  nav ul li {
    list-style: none;
    margin-top: 30px;
    font-size: 16px;
  }

  nav ul li a {
    color: var(--color-special);
    text-decoration: none;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }

  .button-container {
    display: flex;
    flex-direction: row;
  }

  .btn-contact, .btn-contact-light {
    padding: auto;
    margin-top: 2rem;
  }

  nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: var(--color-special);
    transform: scaleX(0);
    transition: transform 1s ease;
  }

  nav ul li a:hover::after {
    transform: scaleX(1); 
  }

  h2 {
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
    color: var(--color-special);
    padding: 5px;
  }

  .progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 4px;
    background-color: var(--color-special);
    transform-origin: 0%;
    width: 100%;
    z-index: 9999;
  }

  .container-presentation, 
  .container-presentation-light {
    text-align: center;
    padding: 20px 10px;
    background-color: var(--background-color);
  }

  .container-presentation h2, .container-presentation-light h2   {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .container-presentation-light {
    background-color: var(--bg-color);
  }

  .container {
    width: 100%;
    margin: 0 auto;
  }

  h3 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 50px;
  }

  .project-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 60px 0;
  }

  .featured-project, 
  .featured-project-light {
    background-color: var(--card-backcolor);
    padding: 0;
    border-radius: 1px;
    border-bottom: solid 3px var(--color-special);
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    max-height: 250px;
    margin: 20px 5px;
  }

  .featured-project-light {
    background-color: var(--card-bg);
    border-bottom: solid 3px var(--sp-color);
  }

  .featured-project:hover .hidden-content ,
  .featured-project-light:hover .hidden-content-light {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .featured-project img,
  .featured-project-light img {
    width: 100%;
    max-height: 250px;
    border-radius: 1px;
    object-fit: cover;
    margin: 0;
    padding: 0;
    display: block;
    opacity: 0.5;
  }

  .featured-project-light:hover img,
  .featured-project:hover img {
    transform: scale(1.04);
    opacity: 1;
  }


  .menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .hidden {
    display: none;
  }

  .visible, .visible-light  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    height: max-content;
    padding-bottom: 20px;
    position: absolute;
    width: 100vw;
    z-index: 9999;
  }

  .visible-light {
    background-color: var(--bg-color);
  }

  .display {
    display: block;
    border-radius: 6px;
    background-color: var(--color-special);
    color: #fff;
    position: absolute;
    left: 10px;
    top: 58%;
    max-width: 80%;
    z-index: 999;
    box-sizing: border-box;
    overflow: hidden;
  }

  .display p {
    font-size: 0.8rem;
  }

  .invisible {
    display: none;
  }

  .visible h2,  .visible-light h2 {
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
  }

  .menu-button {
    background: none;
    border: none;
    cursor: pointer;
  }
  .project-feature {
    display: flex;
    flex-wrap: wrap;
    gap: 15;
  }

  .project-grid {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 15px;
  }

  .project, .project-light  {
    background-color: var(--card-backcolor);
    border-radius: 1px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0);
    text-align: center;
    border-bottom: var(--color-special) solid 3px;
    cursor: pointer;
    position: relative;
    opacity: 0.5;
    max-height: 210px;
    margin: 20px 5px;
    z-index: 9999;
  }

  .project-light {
    background-color: var(--card-bg);
    border-bottom: var(--sp-color) solid 3px;
  }

  .hidden-content, 
  .hidden-content-light {
    position: absolute;
    background-color: var(--card-backcolor);
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.3s ease,
      visibility 0.3s ease,
      transform 0.3s ease;
  }

  .hidden-content-light {
    background-color: var(--card-bg);
  }

  .hidden-content p,
  .hidden-content-light p {
    font-size: 10px;
  }

  .project:hover .hidden-content,
  .project-light:hover .hidden-content-light  {
    opacity: 1;
    visibility: visible;
    bottom: 0;
  }

  .hidden-button {
    margin-top: 10px;
    margin-bottom: 2px;
    padding: 8px 16px;
    border: none;
    background-color: var(--color-special);
    color: #1e1e1e;
    cursor: pointer;
    border-radius: 4px;
  }

  .hidden-button:hover {
    background-color: var(--color-special);
  }

  .project:hover {
    background-color: var(--background-color);
    opacity: 1;
  }

  .project-light:hover {
    background-color: var(--bg-color);
    opacity: 1;
  }

  .featured-project img,
  .project img {
    transition:
      transform 0.3s ease,
      opacity 0.3s ease;
  }

  .featured-project-light img,
  .project-light img {
    transition:
      transform 0.3s ease,
      opacity 0.3s ease;
  }

  .project img, 
  .project-light img {
    width: 100%;
    opacity: 0.5;
    max-height: 210px;
    object-fit: cover;
    margin: 0;
    display: block;
  }

  .project:hover img,
  .project-light:hover img {
    opacity: 1;
    transform: translateY(0);
  }

  .parallax {
    background: linear-gradient(rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0.692)),
      url("./assets/computador.jpg");
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    height: max-content;
    color: var(--text-color);
  }

  .parallax-light {
    background: linear-gradient(rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0.692)),
      url("./assets/laptop.jpg");
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    height: max-content;
    color: var(--text-color);
  }

  strong {
    color: var(--color-special);
  }

  h4 {
    border-bottom: solid 0.6px var(--color-special);
    max-width: fit-content;
    border-bottom-left-radius: 8px;
    font-size: 16px;
  }

  .skills-container, 
  .skills-container-light  {
    background-color: var(--background-color);
    padding: 40px 0;
    text-align: center;
  }

  .skills-container-light {
    background-color: var(--bg-color);
  }

  .skills-icons {
    width: 100%;
    margin: 60px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 10px 20px;
  }

  .skill,  .skill-light {
    background-color: var(--card-backcolor);
    color: var(--text-color);
    padding: 10px 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 20px;
    border-bottom: solid 2px var(--color-special);
    margin-top: 25px;
  }

  .skill p,  .skill-light p {
    font-size: 0.625rem;
  }

  .skill-light {
    background-color: var(--card-bg);
    color: var(--text-color);
    border-bottom: solid 2px var(--sp-color);
  }

  svg {
    width: 2.5rem;
    height: 2.5rem;
  }

  .social-contacts {
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .social-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin: 40px 0;
  }

  .div-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    border-radius: 6px;
  }

  .div-card:hover {
    border: solid 0.1px var(--color-special);
  }

  .card, .card-light {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--card-backcolor);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .card-light {
    background-color: var(--card-bg);
  }

  .div-card > p {
    margin-top: 15px;
    font-size: 0.9rem;
  }

  .button-back, 
  .button-back-light {
    background-color: var(--background-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 20px;
  }

  .button-back-light {
    background-color: var(--bg-color);
  }

  .back {
    padding: 10px 15px;
    background-color: var(--color-special);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  .footer-light {
    background-color: var(--card-bg);
    padding: 1rem;
  }

  .footer p {
    font-size: 12px;
    text-align: center;
  }

  .footer-light p {
    font-size: 12px;
    text-align: center;
  }

  .footer-light a {
    text-decoration: none;
    color: var(--sp-color);
  }
}

@media (width: 540px) {
  .featured-project, 
  .featured-project-light {
    background-color: var(--card-backcolor);
    padding: 0;
    border-radius: 1px;
    border-bottom: solid 3px var(--color-special);
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    max-height: 250px;
    margin: 20px 5px;
  }

  .project, .project-light  {
    background-color: var(--card-backcolor);
    border-radius: 1px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0);
    text-align: center;
    border-bottom: var(--color-special) solid 3px;
    cursor: pointer;
    position: relative;
    opacity: 0.5;
    height: 210px;
    margin: 20px 5px;
  }

  .featured-project img, 
  .featured-project-light img {
    height: 250px;
  }

  .project img, .project-light img {
    height: 210px;
  }
}