@media (min-width: 280px) and (max-width: 580px) {
  html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  p {
    font-size: 14px;
    margin: 0 auto;
    padding: 5px;
    text-align: justify;
  }
  
  .header {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--color-special) 1px solid;
    max-width: 100%;
  }
  
  .header h1 {
    font-size: 20px;
  }

  .header-light {
    background-color: var(--bg-color);
    color: var(--t-color);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--color-special) 1px solid;
    max-width: 100%;
  }
  
  .header-light h1 {
    font-size: 20px;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    margin-top: 30px;
    font-size: 16px;
  }
  
  nav ul li a {
    color: var(--color-special);
    text-decoration: none;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  
  nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: var(--color-special);
    transform: scaleX(0);
    transition: transform 1s ease;
  }
  
  nav ul li a:hover::after {
    transform: scaleX(1); /* Expande a escala para 1 ao passar o mouse */
  }
  
  h2 {
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
    color: var(--color-special);
  }
  
  .progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 4px;
    background-color: var(--color-special);
    transform-origin: 0%;
    width: 100%;
    z-index: 9999;
  }
  
  .container-presentation {
    text-align: center;
    padding: 20px 10px;
    background-color: var(--background-color);
  }
  
  .container-presentation h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .container-presentation-light {
    text-align: center;
    padding: 20px 10px;
    background-color: var(--bg-color);
  }
  
  .container-presentation-light h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 20px 10px;
  }
  
  .about {
    transform: translateX(-100vw) rotate(-30deg) skew(10deg, 5deg);
    opacity: 0;
    transition:
      transform 1.5s ease,
      opacity 1.5s ease;
  }
  
  .about.fly-in {
    transform: translateX(0) rotate(0deg) skew(0deg, 0deg);
    opacity: 1;
  }
  
  h3 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 50px;
  }
  
  .project-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 60px 0;
  }
  
  .featured-project {
    background-color: var(--card-backcolor);
    padding: 0;
    border-radius: 1px;
    border-bottom: solid 3px var(--color-special);
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
  }
  
  .featured-project:hover img {
    transform: scale(1.04);
    opacity: 1;
  }
  
  .featured-project:hover .hidden-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  .featured-project img {
    width: 100%;
    max-width: 400px;
    border-radius: 1px;
    object-fit: cover;
    margin: 0;
    padding: 0;
    display: block;
    opacity: 0.5;
  }

  .featured-project-light {
    background-color: var(--card-bg);
    padding: 0;
    border-radius: 1px;
    border-bottom: solid 3px var(--sp-color);
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
  }
  
  .featured-project-light:hover img {
    transform: scale(1.04);
    opacity: 1;
  }
  
  .featured-project-light:hover .hidden-content-light {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  .featured-project-light img {
    width: 100%;
    max-width: 400px;
    border-radius: 1px;
    object-fit: cover;
    margin: 0;
    padding: 0;
    display: block;
    opacity: 0.5;
  }
  
  .menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .hidden {
    display: none;
  }
  
  .visible {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    height: max-content;
    padding-bottom: 20px;
    position: absolute;
    width: 100vw;
    z-index: 9999;
  }

  .visible-light {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    height: max-content;
    padding-bottom: 20px;
    position: absolute;
    width: 100vw;
    z-index: 9999;
  }

  .display {
    display: block;
    border-radius: 6px;
    background-color: var(--color-special);
    color: #fff;
    position: absolute;
    left: 10px;
    top: 58%;
    max-width: 80%;
    z-index: 999;
    box-sizing: border-box;
    overflow: hidden;
  }

  .display p {
    font-size: 0.8rem;
  }

  .invisible {
    display: none;
  }

  .visible h2 {
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
  }

  .visible-light h2 {
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .menu-button {
    background: none;
    border: none;
    cursor: pointer;
  }
  .project-feature {
   display: flex;
   flex-wrap: wrap;
   gap: 15;
  }

  .project-grid {
    display: grid;
    grid-template-columns:1fr;
    align-items: center;
    gap: 15px;
  }
  
  .project {
    background-color: var(--card-backcolor);
    border-radius: 1px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0);
    text-align: center;
    border-bottom: var(--color-special) solid 3px;
    cursor: pointer;
    position: relative;
    opacity: 0.5;
  }

  .project-light {
    background-color: var(--card-bg);
    border-radius: 1px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0);
    text-align: center;
    border-bottom: var(--sp-color) solid 3px;
    cursor: pointer;
    position: relative;
    opacity: 0.5;
  }
  
  .hidden-content {
    position: absolute;
    background-color: var(--card-backcolor);
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.3s ease,
      visibility 0.3s ease,
      transform 0.3s ease;
  }
  
  .hidden-content-light {
    position: absolute;
    background-color: var(--card-bg);
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.3s ease,
      visibility 0.3s ease,
      transform 0.3s ease;
  }
  
  .hidden-content p {
    font-size: 10px;
  }
  
  .project:hover .hidden-content {
    opacity: 1;
    visibility: visible;
    bottom: 0;
  }

  .hidden-content-light p {
    font-size: 10px;
  }
  
  .project-light:hover .hidden-content-light {
    opacity: 1;
    visibility: visible;
    bottom: 0;
  }
  
  .hidden-button {
    margin-top: 10px;
    margin-bottom: 2px;
    padding: 8px 16px;
    border: none;
    background-color: var(--color-special);
    color: #1e1e1e;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .hidden-button:hover {
    background-color: var(--color-special);
  }
  
  .project:hover {
    background-color: var(--background-color);
    opacity: 1;
  }

  .project-light:hover {
    background-color: var(--bg-color);
    opacity: 1;
  }

  .featured-project img, 
  .project img {
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .featured-project-light img, 
  .project-light img {
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .project img {
    width: 100%;
    opacity: 0.5;
    max-height: 200px;
    object-fit: cover;
    margin: 0;
    display: block;
  }

  .project-light img {
    width: 100%;
    opacity: 0.5;
    max-height: 200px;
    object-fit: cover;
    margin: 0;
    display: block;
  }
  
  .project:hover img {
    opacity: 1;
    transform: translateY(0);
  }

  .project-light:hover img {
    opacity: 1;
    transform: translateY(0);
  }
  
  .parallax {
    background: linear-gradient(rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0.692)),
      url("./assets/computador.jpg");
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    height: max-content;
    color: var(--text-color);
  }

  .parallax-light {
    background: linear-gradient(rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0.692)),
      url("./assets/laptop.jpg");
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    height: max-content;
    color: var(--text-color);
  }
  
  strong {
    color: var(--color-special);
  }
  
  h4 {
    border-bottom: solid 0.6px var(--color-special);
    max-width: fit-content;
    border-bottom-left-radius: 8px;
    font-size: 16px;
  }
  
  .skills-container {
    background-color: var(--background-color);
    padding: 40px 0;
    text-align: center;
  }

  .skills-container-light {
    background-color: var(--bg-color);
    padding: 40px 0;
    text-align: center;
  }
  
  
  .skills-icons {
    width: 100%;
    margin: 60px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 10px 20px;
  }
  
  .skill {
    background-color: var(--card-backcolor);
    color: var(--text-color);
    padding: 10px 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 20px;
    border-bottom: solid 2px var(--color-special);
    margin-top: 25px;
  }
  
  .skill p {
    font-size: 0.625rem;
  }

  .skill-light {
    background-color: var(--card-backcolor);
    color: var(--text-color);
    padding: 10px 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 20px;
    border-bottom: solid 2px var(--color-special);
    margin-top: 25px;
  }
  
  .skill-light p {
    font-size: 0.625rem;
  }
  
  svg {
    width: 2.5rem;
    height: 2.5rem;
  }
  
  .social-contacts {
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin: 40px 0;
  }
  
  .div-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    border-radius: 6px;
  }
  
  .div-card:hover {
    border: solid 0.1px var(--color-special);
  }
  
  .card {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--card-backcolor);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .card-light {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--card-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .div-card > p {
    margin-top: 15px;
    font-size: 0.9rem;
  }
  
  .button-back {
    background-color: var(--background-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 20px;
  }

  .button-back-light {
    background-color: var(--bg-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 20px;
  }
  
  .back {
    padding: 10px 15px;
    background-color: var(--color-special);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  .footer-light {
    background-color: var(--card-bg);
    padding: 1rem;
  }

  .footer p {
    font-size: 12px;
    text-align: center;
  }

  .footer-light p {
   font-size:  12px;
   text-align: center;
  }
}